@media (max-width: 576px) {
  /* INDEX */

  /* Navbar */
  .nav-item {
    border-style: none;
  }
  /* Jobs */
  .grid-container-id {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
  }

  /* Navigation Bar */
  #nav-bar a {
    padding: 8px 24px;
  }

  /*  Certificate */
  #certificate img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
